[phases.setup]
nixPkgs = ["python311", "curl"]

[phases.install]
cmds = [
  "pip install -r requirements.txt",

  # Create local directories (optional)
  "mkdir -p models tags",

  # Download files from HuggingFace
  "curl -L 'https://huggingface.co/yudaag/youtube-view-predict-models/resolve/main/catboost_model_10.cbm' -o models/catboost_model_10.cbm",
  "curl -L 'https://huggingface.co/yudaag/youtube-view-predict-models/resolve/main/tag_recommendation_model.pkl' -o tags/tag_recommendation_model.pkl",

  "echo '=== Download complete ==='",
  "ls -R ."
]
